//colors
$bg--light: #fff;
$bg--dark: #37474f;

$bg--card--light: #eceff1;
$bg--card--dark: #333;

$text--light: #363c4a;
$text--2--light: #5f6470;
$text--dark: #fff;
$text--2--dark: #e8e8e8;

$search--card--light: #dde3e7;
$search--card--dark: #505050;

$g: #01a94f;
$pg: #133d8d;
$pg13: #eade00;
$r: #ee3224;

// breakpoints
$screen-xs-max: 375px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;
